html {
  background-color: #fff;
}
button {
  font-size: 1.8rem;
}
h2 {
  font-size: 2.5rem;
}
h1 {
  font-size: 3.5rem;
}
img {
  width: 250px;
  height: 250px;
}
#img-container5 {
  position: static;
  visibility: visible;
}
.images-grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
}
.importanBtn {
  width: 30%;
}
#upload-label span {
  font-size: 1.8rem;
  font-weight: 700;
}

#upload-label:hover {
  padding: 35px 20%;
  background-color: #032d4d3d;
}
#upload-label i {
  font-size: 3rem;
}
