:root {
  --header-color: #082032;
  --header-color-black: #020f18;
  --main-color: #2c394b;
  --footer-color: #334756;
  --orange-coloro: #ff4c29;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
img {
  height: 140px;
  width: 140px;
}
header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #082032;
  color: white;
}
h1 {
  font-size: 2.6rem;
}

main {
  background-color: #2c394b;
  width: 100%;
}

section {
  transition-duration: 500ms;
}

footer {
  background-color: #334756;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer p {
  font-size: 1.2rem;
}
footer i {
  font-size: 1.8rem;
  transition-duration: 400ms;
}
footer i:hover {
  color: #ff4c29;
  text-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px,
    rgba(255, 255, 255, 0.22) 0px 10px 10px;
  font-size: 2.2rem;
}
#body-grid {
  min-height: 100vh;
  place-content: center;
  display: grid;
  grid-template-rows: 100px 1fr 70px;
  grid-template-columns: 100%;
  font-size: 1.2rem;
  justify-items: center;
  overflow: unset;
}
i {
  margin: 0 5px 0 5px;
}
a {
  text-decoration: none;
  color: white;
}

h2 {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  margin: 15px 0 20px 0;
  font-size: 2rem;
  color: #a6aeb4;
}

.images-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
  grid-auto-rows: max-content;
  gap: 15px;
  place-content: center;
}

#img-container5 {
  position: absolute;
  visibility: hidden;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 400ms;
}
button {
  font-size: 1.2rem;
  margin: 15px;
  padding: 10px;
  width: 60%;
  background-color: var(--header-color);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 300ms;
}

#reload-button {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  justify-content: center;
  margin-bottom: 10px;
}

.tittle-favorite {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tittle-favorite h2 {
  margin: 15px 0 0 0;
}
#outFavorite {
  margin-bottom: 20px;
}
button:hover {
  background-color: var(--footer-color);
  color: var(--orange-coloro);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.favoriteButton {
  position: absolute;
  padding: 0;
  width: fit-content;
  font-size: 10rem;
  background-color: transparent;
  opacity: 0%;
}
.favoriteButton:hover {
  background-color: transparent;
  color: #ff4c29;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: none;
  opacity: 60%;
  visibility: unset;
}
.favoriteButton:active {
  opacity: 100%;
}

.deleteFavorite {
  font-size: 1.2rem;
  width: 100%;
  margin: 0;
}
#favoriteMichis {
  margin-bottom: 20px;
}

#file {
  position: absolute;
  visibility: hidden;
}
#uploadingForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#upload-label {
  border-radius: 15px 50px;
  color: white;
  background-color: var(--footer-color);
  padding: 30px 10%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition-duration: 400ms;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#upload-label span {
  font-size: 1.2rem;
  font-weight: 700;
}

#upload-label:hover {
  padding: 35px 20%;
  background-color: #032d4d3d;
}

#upload-label i {
  margin-top: 10px;
  font-size: 2.5rem;
  text-align: center;
}
#uploadingCat {
  margin-top: 20px;
}
.importanBtn {
  border-radius: 20px;
}
hr {
  width: 85%;
  margin: 0 auto;
  opacity: 10%;
}
